:root {
    --primary-font: 'HK Grotesk';
    --ticketr-accent: #AEA0F2;
    --ticketr-dark-accent: #765CF2;
    --ticketr-darker-accent: #4F2FF0;
    --color-scrollbar-fill: var(--ticketr-accent);
}

* {
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    scrollbar-color: var(--color-scrollbar-fill) transparent;
    scrollbar-width: thin;
    color: inherit;
    font-family: inherit;
    word-break: break-word;
    overscroll-behavior: contain;
    -ms-overflow-style: scroll;
    -webkit-overflow-style: scroll;
}

html {
    overflow: hidden !important;

    --color-accent: var(--ticketr-accent);
    --color-dark-accent: var(--ticketr-dark-accent);
}

#app[colour-scheme="dark"] {
    background-color: #000000;
    color: #FFFFFF;
    
    --color-accent: var(--ticketr-dark-accent);
    --color-dark-accent: var(--ticketr-darker-accent);
}

@font-face {
    font-family: "HK Grotesk";
    font-weight: 300;
    src: url("../fonts/HK Grotesk/HKGrotesk-Light.eot");
    src: url("../fonts/HK Grotesk/HKGrotesk-Light.woff2") format("woff2"),
    url("../fonts/HK Grotesk/HKGrotesk-Light.woff") format("woff");
}

@font-face {
    font-family: "HK Grotesk";
    font-weight: 400;
    src: url("../fonts/HK Grotesk/HKGrotesk-Regular.eot");
    src: url("../fonts/HK Grotesk/HKGrotesk-Regular.woff2") format("woff2"),
    url("../fonts/HK Grotesk/HKGrotesk-Regular.woff") format("woff");
}

@font-face {
    font-family: "HK Grotesk";
    font-weight: 500;
    src: url("../fonts/HK Grotesk/HKGrotesk-Medium.eot");
    src: url("../fonts/HK Grotesk/HKGrotesk-Medium.woff2") format("woff2"),
    url("../fonts/HK Grotesk/HKGrotesk-Medium.woff") format("woff");
}

@font-face {
    font-family: "HK Grotesk";
    font-weight: 600;
    src: url("../fonts/HK Grotesk/HKGrotesk-SemiBold.eot");
    src: url("../fonts/HK Grotesk/HKGrotesk-SemiBold.woff2") format("woff2"),
    url("../fonts/HK Grotesk/HKGrotesk-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "HK Grotesk";
    font-weight: 700;
    src: url("../fonts/HK Grotesk/HKGrotesk-Bold.eot");
    src: url("../fonts/HK Grotesk/HKGrotesk-Bold.woff2") format("woff2"),
    url("../fonts/HK Grotesk/HKGrotesk-Bold.woff") format("woff");
}

@font-face {
    font-family: "HK Grotesk";
    font-weight: 700;
    src: url("../fonts/HK Grotesk/HKGrotesk-ExtraBold.eot");
    src: url("../fonts/HK Grotesk/HKGrotesk-ExtraBold.woff2") format("woff2"),
    url("../fonts/HK Grotesk/HKGrotesk-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: "HK Grotesk";
    font-weight: 900;
    src: url("../fonts/HK Grotesk/HKGrotesk-Black.eot");
    src: url("../fonts/HK Grotesk/HKGrotesk-Black.woff2") format("woff2"),
    url("../fonts/HK Grotesk/HKGrotesk-Black.woff") format("woff");
}